button {
  border: none;
  background-color: #4C0B80;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 26px;
  border-radius: 10px;
}

button:hover {
  background-color: #BC80D8;
}

.long-btn {
  grid-column: 1 / 3;
}