.screen {
  width: 80%;
  height: 120px;
  padding: 5% 10%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.prev-operrand {
  margin: 3px;
  font-size: 26px;
  color: #B5B5B5;
}

.curr-operrand {
  margin: 3px;
  font-weight: bold;
}